.pipoca{
    color: white;
    background-color: black;

}
.soares{
    color: white;
    background-color: black;
    text-align: center;
}
.tico{
    text-align: center;
    
}
.pp{
    text-align: center;
}
.tabela{
    text-align: center;
    background-color: black;
}
